body{
    background-color: black;
}

#btn{
    padding: 0;
    border: none;
    background: none;
}

.tv{
    position: fixed;
    top: 400px;
    right: 1000px;
}

.static{
    position: absolute;
    top: 0;
    right: 0;    
}

.frames{
    position: fixed;
    top: 50px;
    right: 200px;
}

.fridge{
    position: fixed;
    top: 80px;
    right: 800px;
}

.desk{
    position: fixed;
    top: 300px;
    right: 350px;
}

.carpet{
    position: fixed;
    top: 500px;
    right: 300px;
    border: none;
}

.console{
    position: fixed;
    top: 650px;
    right: 1000px;
}

.bookshelf{
    position: fixed;
    top: 150px;
    right: 50px;
}